<div class="w-fit mx-auto px-auto mt-10 flex-items-center justify-center">


<div class="bg-gray-200 h-16 w-[550px] flex justify-center items-center rounded-md">
<%= form_tag feed_path, id: 'allpost',class: 'flex',method: :get do %>

  <%= label_tag :show_all_posts, "EXPLORE BEYOND FEED ?",:class => ' mr-10 font-bold text-lg' %>
  <%# <label class="switch">
    <input type="checkbox" name="show_all_posts" id="switch" value="1" class="w-5 h-5 mr-10">
    <span class="slider round"></span>
</label> %>
  <span class="mx-auto"><%= check_box_tag :show_all_posts, 1, @show_all_posts,id:"switch",class: 'w-5 h-5 mr-10' %></span>
  <%= submit_tag "",id:"submitbtn" %>
<% end %>
</div>





<% if @allposts.any? %>


                <% (@show_all_posts ? @allposts : @feedposts).shuffle.each_with_index do |post,index|%>


                <div class="mt-10 mx-auto px-auto bg-slate-100 rounded px-5 pt-5 w-[550px]">
                <div class="flex h-16 items-center">
                        <div class="mb-3">
                                <% if post.user.image.attached?%>
                                    <%= image_tag(post.user.image,class:"flex object-cover w-12 h-12  rounded-full border-2 border-blue-600 ");%>
                                <% else%>
                                    <%= image_tag "account.jpg",class:"flex object-cover w-12 h-12  rounded-full border-2 border-blue-600";%>
                                <% end %>
                        </div>

                        <div class="flex flex-col ml-3">
                                <span class="font-bold <%= 'bg-blue-600 text-white rounded px-2' if post.user.mutual_following_with?(@current) || post.user == (@current)  %>"><%= post.user.name %></span>
                                <%= post.user.city %>
                        </div>

                        <div class="flex mb-12 ml-32 items-end">
                            <% if current_user.id != post.user.id %>
                                <% if current_user.following?(post.user)%>
                                    <%= button_to "Unfriend",unfollow_path(post.user),class:"flex border  w-32 h-8 rounded-md bg-black text-white hover:scale-90 duration-300 hover:bg-red-600 hover:text-white flex items-center justify-center mt-10"%>
                                <% elsif current_user.sent_follow_request_to?(post.user)%>
                                    <%= button_to "Cancel Friend Request",cancel_path(post.user),class:"flex border  w-44 h-8 rounded-md bg-black text-white hover:scale-90 duration-300 hover:bg-red-600 hover:text-white flex items-center justify-center mt-10"%>
                                <% elsif post.user.sent_follow_request_to?(current_user)%>
                                    <div class="flex mt-4">
                                                <%= button_to "Accept",accept_path(post.user),class:"border border-black text-white px-3 py-2 rounded bg-blue-500 hover:scale-90 duration-200 "%>
                                                <%= button_to "Decline",decline_path(post.user),class:"mr-5 ml-3 border border-black bg-red-600 text-white px-3 py-2 rounded  hover:scale-90 duration-200 "%>
                                    </div>    
                                <% else %>
                                    <%= button_to "Add Friend",follow_path(post.user),class:"flex border  w-32 h-8 rounded-md bg-black text-white hover:scale-90 duration-300 hover:bg-blue-600 hover:text-white flex items-center justify-center mt-10"%>
                                <% end %>
                                <% end %>
                        </div>
                </div>
                

                <% if post.image.attached?%>
                <%= link_to post_path(post) do %>
                    <div class="w-96 h-fit "><%= image_tag (post.image) %></div>
                <% end %>
                <% end %>


                <%= turbo_frame_tag "likes_#{post.id}" do %>
                <div class="mt-3  flex flex-row  border-b pb-2 border-inherit items-center" > 
                <% like = current_user.likes.find_by(post: post)%>
                    <%#= render "likes/like", like: like, post: post, class: "invisible"%>
                
                <% if like.nil? %>
                    <%= button_to "Like", likes_path, params:{like: {post_id: post.id}},method: :post,class:"border py-1 px-5 bg-white text-blue-600 border-blue-600 hover:scale-90 duration-300 hover:border-red-600 hover:text-red-600 rounded" %>
                    
                <% else %>
                    <%= button_to "Unlike", like_path(like),method: :delete,class:"border py-1 px-5 bg-white text-blue-600 border-blue-600 hover:scale-90 duration-300 hover:border-red-600 hover:text-red-600 rounded" %>  
                <% end %>

                
                    <span class="font-bold ml-5 " ><%= post.likes.count%></span>
                
                
                <span class="font-bold ml-1">Likes </span></div>
            <%end %>


                <div class="flex pt-2 items-center">
                    <span class="font-bold bg-zinc-700 rounded-md px-4 py-1 text-white"><%= post.user.name %></span>
                    <span class="ml-3 font-semibold"><%= post.caption %></span>
                </div>

                <% comment = post.comments.build %>
                <%= render "comments/form", comment: comment%>
                <%= turbo_frame_tag "comments_#{post.id}" do %>
                <div class=" overflow-y-scroll h-fit min-h-fit max-h-32 mt-2 no " id="comments" >
                    <% post.comments.each do |comment|%>
                        
                            <%= render "comments/comment", comment: comment%>
                        
                    <% end %>
                </div>
                <% end %>

                <% if ((index) % 1 == 0) %>
                    <%if  @all_users.any? %>

                    <% @singleinterest = @all_users[rand(@all_users.length)]%>
                    
                    <% @singleinterest.each do |interest,users|%> 

                            <div class="mt-4 border-t-2 pt-4 border-t-2 pb-4">
                                    <p class="font-bold mb-4"> Check Out People interested in <%= interest %></p>


                                    <div class="flex   overflow-x-scroll max-w-3/4 mt-3  mx-auto ">

                                    <% users.shuffle.each do |user|%>

                                        <% if current_user != user %>
                                            <%= link_to user do %>
                                            <div class=" mx-3 py-2 px-4 flex flex-col items-start  hover:scale-105 duration-300 my-2">
                                            <div class="w-32 h-32">
                                                            <% if user.image.attached? %>
                                                                <%= link_to image_tag(user.image,class:"flex object-cover w-32 h-32  rounded-full"),user_path(user.id);%>
                                                            <% else%>
                                                                <%=  link_to image_tag("account.jpg",class:"flex object-cover w-32 h-32  rounded-full"),user_path(user.id);%>
                                                            <% end %>
                                            </div>
                                            <p class="mt-2 font-bold"><%= user.name %></p>
                                           </div>
                                            <% end %>
                                        
                                        <% end %>   
                                        <% end %>
                                        </div>

                            </div>

                    <% end %>
                    <% end %>
                <%end %>
                
                
                
                
                </div>

                <% end %>

        
<% end %>

</div>
<script>

        form = document.getElementById("allpost");
        console.log(form)
        switchbtn = document.getElementById("switch")
        console.log(switchbtn)
        submitbtn = document.getElementById("submitbtn")
        console.log(submitbtn)
        // errorblock = document.getElementById("error_explanation");

        switchbtn.addEventListener('change',(event)=>{         
          if (event.target.checked){       
              console.log("checked")
              submitbtn.click() 
          }
          else{
              console.log("Unchecked")
              submitbtn.click() 
          }
        })


        



</script>
