<div class="w-screen h-screen items-center justify-center">

    <div class="w-screen h-screen items-center justify-center">

            <% @current.each do |request|%>

                <div class="mx-auto border border-black w-1/2 flex items-center justify-between mt-5 rounded-md">
                
                <%= link_to root_path do %>
                <div class="flex w-32 h-32 p-4  rounded-full">
                    <% if request.followerable.image.attached? %>
                        <%= image_tag(request.followerable.image,class:"flex object-cover w-auto h-auto min-h-full min-w-full max-h-full  max-w-full rounded-full");%>
                    <% else%>
                        <%= image_tag "account.jpg",class:"flex object-cover w-auto h-auto min-h-full min-w-full max-h-full  max-w-full rounded-full";%>
                    <% end %>
                </div>
                <% end %>

                <p><span class="font-bold"><%=request.followerable.name%></span> wants to connect</p>
                <div class="flex">
                    <%= button_to "Accept",accept_path(request.followerable),class:"border border-black px-3 py-2 rounded hover:bg-blue-500 hover:scale-90 duration-200 hover:text-white"%>
                    <%= button_to "Decline",decline_path(request.followerable),class:"mr-5 ml-3 border border-black px-3 py-2 rounded hover:bg-red-600 hover:scale-90 duration-200 hover:text-white"%>
                </div>
                </div>

            <% end %>
    
    </div>


</div>