<div class="items-center  justify-between flex w-screen">

  <div class="items-center justify-between flex flex-col  w-screen">

  <% if @user_names.any? %>

    <% @user_names.each do |user|%>

    <% if current_user.id != user.id %>
         
      <div class="flex w-1/2 border border-black items-center mt-5 mx-auto rounded-md justify-between">


      <%# Conditional Rendering of tyhe Profile Picture for each user %>
      <div class="flex">
      <div class="flex w-32 h-32 p-4  rounded-full">
        <% if user.image.attached? %>
             <%= link_to image_tag(user.image,class:"flex object-cover w-auto h-auto min-h-full min-w-full max-h-full  max-w-full rounded-full"),user_path(user.id);%>
        <% else%>
          <%=  link_to image_tag("account.jpg",class:"flex object-cover w-auto h-auto min-h-full min-w-full max-h-full  max-w-full rounded-full"),user_path(user.id);%>
      <% end %>
      </div>



      <h1 class="font-bold ml-10 my-auto"><%= user.name %></h1>
      

      </div>

  
      <%# Conditional rendering of the FRIEND button %>
      <% if current_user.following?(user)%>
          <%= button_to "Unfriend",unfollow_path(user),class:"flex border  w-28 h-7 mr-20 my-auto rounded bg-black text-white text-xs hover:scale-90 duration-300 hover:bg-blue-600 hover:text-white flex items-center justify-center"%>
      <% elsif current_user.sent_follow_request_to?(user)%>
          <%= button_to "Cancel Friend Request",cancel_path(user),class:"flex border  w-40 h-7 mr-20 my-auto rounded bg-black text-white text-xs hover:scale-90 duration-300 hover:bg-blue-600 hover:text-white flex items-center justify-center"%>
      <% elsif user.sent_follow_request_to?(current_user)%>
        <div class="flex">
                    <%= button_to "Accept",accept_path(user),class:"border border-black px-3 py-2 text-white rounded bg-blue-500 hover:scale-90 duration-200 "%>
                    <%= button_to "Decline",decline_path(user),class:"mr-5 ml-3 border border-black px-3 py-2 text-white rounded bg-red-600 hover:scale-90 duration-200 text-white"%>
        </div> 
      <% else %>
          <%= button_to "Add Friend",follow_path(user),class:"flex border  w-28 h-7 mr-20 my-auto rounded bg-black text-white text-xs hover:scale-90 duration-300 hover:bg-blue-600 hover:text-white flex items-center justify-center"%>
      <% end %>
           

      </div>

      <% end %>


  <% end %>
  <% else%>
                 
            <div class="text-center mt-10"> No Search Results ! Check your query and try again.</div>

  <% end %>
</div>



</div>
