<div id="<%= dom_id interest %>">
<% if current_user.id == interest.user_id %>
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= interest.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Experience:</strong>
    <%= interest.experience %>
  </p>

  

  <% if action_name != "show" %>
    <%= link_to "Show this interest", interest, class: "rounded-lg px-3 py-2 bg-gray-100 inline-block font-medium hover:scale-90 duration-300 hover:bg-blue-600 hover:text-white" %>
    <%= link_to 'Edit this interest', edit_interest_path(interest), class: "rounded-lg py-2 ml-2 px-3 bg-gray-100 inline-block font-medium hover:scale-90 duration-300 hover:bg-blue-600 hover:text-white" %>
    <hr class="mt-6">
  <% end %>
<% end %>
</div>
