<div id="<%= dom_id post %>" class="w-96 mx-auto">
  <p class="my-5">
    <strong class="block font-medium mb-1"></strong>
    <div class="flex justify-center">
      <div class="mb-3">
                        <% if post.user.image.attached?%>
                            <%= image_tag(post.user.image,class:"flex object-cover w-12 h-12  rounded-full border-2 border-blue-600 ");%>
                        <% else%>
                            <%= image_tag "account.jpg",class:"flex object-cover w-12 h-12  rounded-full border-2 border-blue-600";%>
                        <% end %>
                        </div>
      <div class="flex flex-col ml-3">
                        <span class="font-bold"><%= post.user.name %></span>
                        <%= post.user.city %>
                        </div>

      <div class="flex ml-auto self-end h-12 pt-0">
                            <% if current_user.id != post.user.id %>
                                <% if current_user.following?(post.user)%>
                                    <%= button_to "Unfriend",unfollow_path(post.user),class:"flex border  w-32 h-8 rounded-md bg-black text-white hover:scale-90 duration-300 hover:bg-red-600 hover:text-white flex items-center justify-center "%>
                                <% elsif current_user.sent_follow_request_to?(post.user)%>
                                    <%= button_to "Cancel Friend Request",cancel_path(post.user),class:"flex border   w-44 h-8 rounded-md bg-black text-white hover:scale-90 duration-300 hover:bg-red-600 hover:text-white flex items-center justify-center "%>
                                <% elsif post.user.sent_follow_request_to?(current_user)%>
                                    <div class="flex mt-4">
                                                <%= button_to "Accept",accept_path(post.user),class:"border border-black text-white px-3 py-2 rounded bg-blue-500 hover:scale-90 duration-200 "%>
                                                <%= button_to "Decline",decline_path(post.user),class:"mr-5 ml-3 border border-black bg-red-600 text-white px-3 py-2 rounded  hover:scale-90 duration-200 "%>
                                    </div>    
                                <% else %>
                                    <%= button_to "Add Friend",follow_path(post.user),class:"flex border  w-32 h-8 rounded-md bg-black text-white hover:scale-90 duration-300 hover:bg-blue-600 hover:text-white flex items-center justify-center "%>
                                <% end %>
                                <% end %>
                        </div>
      
    </div>

    <% if post.image.attached?%>
      <%= image_tag (post.image) %>
    <% end %>
    

    <div class="mt-3  flex flex-row  border-b pb-2 border-inherit"> 
                <% like = current_user.likes.find_by(post: post)%>
                <%= render "likes/like", like: like, post: post%></div>


    <div class="flex pt-2 items-center">
                    <span class="font-bold bg-zinc-700 rounded-md px-4 py-1 text-white"><%= post.user.name %></span>
                    <span class="ml-3 font-semibold"><%= post.caption %></span>
                </div>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this post", post,data: { turbo_frame: "_top" }, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this post', edit_post_path(post),form: { data: { turbo_frame: "_top" } }, class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
