<nav class="h-16 bg-black flex items-center justify-between">
    <div class="flex h-14  w-28 items-center justify-center ml-20">
    <%= link_to feed_path do %>
        <%= image_tag "gather-logo.png",class:"object-contain" %>
    <% end %>
    </div>

<% if user_signed_in? %>
    <%= form_with url: "/search", method: :get do |form| %>
        <div class=" flex w-fit ">
        <%= form.text_field :query, placeholder: "Enter Name" ,class:"w-80 h-10 rounded mr-5 hover:bg-blue-50 " %>
         <%= form.select :interestquery, options_for_select(interestoptions), class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full mr-5" %>

         <%= form.select :filter, options_for_select(experienceoptions), class: "w-60 border border-black hover:bg-blue-50  ml-5" %>
        <%= form.submit "Search",class:"w-20 h-10 rounded border border-black ml-5 bg-blue-500 text-white hover:scale-90 duration-200 " %>
        </div>
    <% end %>

<div class="flex mr-16 items-center justify-center">


    <%= link_to notif_path do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#F9F5F4" class="bi bi-bell " viewBox="0 0 16 16">
            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
        </svg>
    <% end %> 

    <%= link_to rooms_path do %>
    <div class="h-10 w-10 p-2 mx-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#F9F5F4" class="bi bi-chat-left-dots mt-1" viewBox="0 0 16 16">
             <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
        </svg>
    </div>
    <% end %>

    <%= link_to followrequests_path do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#F9F5F4" class="bi bi-person-plus " viewBox="0 0 16 16">
        <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
        <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
        </svg>
    <% end %> 

    <%= link_to root_path do %>
    <div class=" ml-10 my-auto">
                        <% if current_user.image.attached?%>
                            <%= image_tag(current_user.image,class:"flex object-cover w-10 h-10  rounded-full border-2 border-blue-600 ");%>
                        <% else%>
                            <%= image_tag "account.jpg",class:"flex object-cover w-10 h-10  rounded-full border-2 border-blue-600";%>
                        <% end %>
                        </div><% end %> 

</div>
   <% end %>  

  

  

 
</nav>